data/capture20110815-2.pcap.netflow.labeled filter=lfs diff=lfs merge=lfs -text
data/capture20110816.pcap.netflow.labeled filter=lfs diff=lfs merge=lfs -text
data/capture20110818.pcap.netflow.labeled filter=lfs diff=lfs merge=lfs -text
